.search-form{
    padding: 20px;
    background: #97d996;
    border-radius: 15px;
    background: #97d996;
    box-shadow:  20px 20px 60px #80b880,
             -20px -20px 60px #aefaad;
}
.location-name{
    
    padding: 20px 10px;
    width: 100%;
    border-radius: 15px;
    background: #97d996;
    box-shadow:  20px 20px 60px #80b880,
             -20px -20px 60px #aefaad;
}
.location-name p{
    color: rgb(0, 0, 0);

}
.text-1{
    margin-top: 30px;
}
.form-group label{
    font-weight: 700;
}
.from-to-text{
    font-size: 18px;
    font-weight: bold;
}
